.boxNavbar{
height: px !important;

}

.homeNavbar {

    align-items: center;
    width: 100vw;
    height: 6rem;
    opacity: 80%;
}

.signIn{
  background-color: #017EFA;
  border: 5px solid#017EFA;
}


.signUp{
  background-color: #34b3b3;
  border: 5px solid  #34b3b3;
  /* color: #017EFA; */
}

@media (max-width: 374px) {
  .modalC{
 padding:0px;
  }

}


@media (min-width: 375px) and (max-width: 424px) {
  .modalC {
    
  }
}




@media (min-width: 425px) and (max-width: 767px) {
  .modalC{
  
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .modalC{

  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .modalC{

}

}

@media (min-width: 1440px) and (max-width: 2559px) {
  .modalC{
  
 
  }
}

@media (min-width: 2560px) {
  .modalC{


  }
}


